#page p {
  position: relative; }
  #page p img:last-child {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 100;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s; }
  #page p:hover img:last-child {
    opacity: 1.0; }
