/* http://demosthenes.info/blog/540/Animating-CSS3-Image-Filters */

#page p img {
  transition: 0.5s all ease-in;

  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
     -moz-filter: grayscale(100%);
  filter: gray; /* IE6-9 */
  filter: grayscale(100);
}

#page p img:hover {
  -webkit-filter: grayscale(0); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
     -moz-filter: grayscale(0);
  filter: none;
  filter: grayscale(0);
}