@import '../../brix/mixin.scss';

#page {
  p {
    position: relative;

    img:last-child {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 100;
      @include transition(opacity 0.2s)
    }

    &:hover img:last-child {
      opacity: 1.0;
    }
  }
}