---
---

<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body id="front">
  <figure>
    <img>
    <figcaption></figcaption>
  </figure>
  <section>
    <h1>{% include branding.html %}</h1>
    <p>
      <a href="{{ site.baseurl }}/about"><i class="iconfont icon-about"></i> About</a>
      <a href="{{ site.baseurl }}/archive"><i class="iconfont icon-archive"></i> Blog</a>
      <a href="https://github.com/cyjake" target="_blank"><i class="iconfont icon-github"></i> Code</a>
      <a href="https://500px.com/_kotori" target="_blank"><i class="iconfont icon-camera"></i> Photography</a>
    </p>
  </section>
  <script src="{{ site.baseurl }}/assets/js/front.js"></script>
  {% include ga.html %}
</body>
</html>
