---
---

<!DOCTYPE html>
<html>
<head>
  {% include header.html %}
</head>
<body class="frontpage">
  <section class="bg">
    <img data-src="{{ site.baseurl }}/assets/img/shangping.jpg">
  </section>
  <section class="nav">
    {% include branding.html %}
    <p>
      <a href="{{ site.baseurl }}/about"><i class="iconfont icon-about"></i> About</a>
      <a href="{{ site.baseurl }}/archive"><i class="iconfont icon-archive"></i> Archive</a>
      <a href="https://github.com/dotnil"><i class="iconfont icon-github"></i> Code</a>
      <a href="https://500px.com/dotnil"><i class="iconfont icon-camera"></i> Photography</a>
    </p>
  </section>
  <script src="{{ site.baseurl }}/assets/js/frontpage.js"></script>
  {% include scripts.html %}
</body>
</html>
