@media (min-width: 1200px) {
  body {
    text-align: center;
  }

  #page {
    margin: 40px auto 0;
    width: 720px;
    text-align: left;
  }

  #toc {
    position: fixed;
    top: 50px;
    left: 50%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.7);
    margin-left: 375px;
    min-width: 180px;

    li a {
      height: auto;
    }

    &.sticky {
      opacity: 0.25;
      position: fixed;
      top: 30px;
      z-index: 0;
      background: #fefefe;
      padding-top: 1em;
      padding-bottom: 1em;
      top: 14px;  /* 30px - 1em */

      &:hover {
        opacity: 1;
      }

      &.folded {
        left: auto;
        right: 30px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
    }
  }

  nav {
    width: 170px;
    margin-left: -(720px / 2 + 190px);
    position: fixed;
    top: 92px;
    left: 50%;
    z-index: 1000;

    label {
      display: none;
    }
  }
}
