// Grays
// -------------------------
$black:                 #000;
$grayDark:              #333;
$gray:                  #666;
$grayLight:             #999;
$grayLighter:           #ccc;
$white:                 #fff;

// Accent colors
// -------------------------
$blue:                  #06d;
$green:                 #290;
$red:                   #ff1919;
$yellow:                #ffc40d;
$yellowDark:            #c88c0a;
$orange:                #ff8400;
$pink:                  #c3325f;
$purple:                #810080;

// Grid
// -------------------------
$gridGutterWidth:       10px;
$gridColumnWidth:       10px;
$gridColumns:           50;
$gridRowWidth:          ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// Icon Font
// -------------------------
$iconfontpath: "http://t.tbcdn.cn/apps/e/brix/fonts/uxiconfont";

// type.less - vars
// ----------------
$titleColor:            $grayDark;
$textColor:             $gray;

$linkColor:             $blue;
$linkColorHover:        $orange;
$linkColorVisited:      $purple;

$strongColor:           $red;
$approvedColor:         $green;
$moderatedColor:        $yellowDark;

$baseFontSize:          12px;
$baseLineHeight:        18px;
