<div id="aside">
  <a class="label" href="javascript:void(0);">
    <i class="iconfont icon-nav"></i>导航
  </a>
  <div class="entries">
    <a href="{{ site.baseurl }}" class="entry">
      <i class="iconfont icon-home"></i>Home
    </a>
    {% for category in site.categories %}
    <a href="{{ site.baseurl }}/{{ category[0] }}" class="category entry">
      <i class="iconfont icon-{{category[0]}}"></i>{{ category[0] | capitalize }}
    </a>
    {% endfor %}
    <a href="{{ site.baseurl }}/projects" class="category entry">
      <i class="iconfont icon-projects"></i>Projects
    </a>
    <a href="{{ site.baseurl }}/about" class="entry">
      <i class="iconfont icon-about"></i>About
    </a>
    <a href="{{ site.baseurl }}/archive" class="entry">
      <i class="iconfont icon-archive"></i>Archive
    </a>
  </div>
</div>
