<div id="aside">
  <a class="label" href="javascript:void(0);">
    <i class="iconfont">&#271;</i>导航
  </a>
  <div class="entries">
    {% for category in site.categories %}
    <a href="{{ site.baseurl }}/{{ category[0] }}" class="category entry">
      <i class="iconfont {{category[0]}}"></i>{{ category[0] | capitalize }}
    </a>
    {% endfor %}
    <a href="{{ site.baseurl }}/projects" class="category entry">
      <i class="iconfont">&#409;</i>Projects
    </a>
    <a href="{{ site.baseurl }}/webpages" class="category entry">
      <i class="iconfont">&#41;</i>Webpages
    </a>
    <a href="{{ site.baseurl }}/about" class="entry">
      <i class="iconfont">&#359;</i>About
    </a>
    <a href="{{ site.baseurl }}/archive" class="entry">
      <i class="iconfont">&#37;</i>Archive
    </a>
  </div>
</div>
