<div id="footer">
  <a href="{{ site.baseurl }}/feed/atom.xml" title="Subscribe" class="rss">RSS
    <span class="outside ring"></span>
    <span class="inside ring"></span>
    <span class="dot"></span>
  </a>
  {% include branding.html %}
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.menu-aim.js"></script>
<script type="text/javascript" src="/assets/js/aside.js"></script>