#post-body {
  background: #efefef;

  .article:after {
    content: "❦";
    display: block;
    text-align: center;
    font-size: 36px;
    color: #d14;
  }

  #aside {
    .category {
      &:link, &:visited {
        color: #0063DC;
      }
    }
  }

  .article {
    margin-bottom: 40px;
  }

  .back-home {
    margin-bottom: 20px;
  }

  img {
    padding: 4px;
    border: 1px solid #ddd;
    max-width: 680px;
  }

  #footer .rss:link {
    color: #fff;
  }

  .rss {
    border-color: #0063DC;
    background: #0063DC;

    .dot {
      background: #fff;
    }
    .ring {
      background: #0063DC;
      border: 3px solid #fff;
    }
  }
}