#rosetta {
  text-align: left;
  padding: 20px;
  font-size: 12px;

  &, .highlight {
    background: #f2f3f4;
  }

  code, pre {
    font-family: consolas, menlo, 'bitstream vera sans mono', monaco, monospace;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th {
    padding: 5px 10px;
    border-bottom: 1px solid #aaa;
    font-weight: normal;
    font-size: 140%;
  }

  td {
    padding: 5px 10px;
    border-top: 1px solid #ddd;
    vertical-align: top;
    width: 30%;
    min-width: 300px;
  }

  td.notes {
    width: 40%;
    // background: url('/assets/img/rosetta-background.png');
  }

  table {
    p, ol, ul {
      max-width: 580px;
    }
  }

  #footer .rss:link {
    color: #fff;
  }

  .rss {
    border-color: #0063DC;
    background: #0063DC;

    .dot {
      background: #fff;
    }
    .ring {
      background: #0063DC;
      border: 3px solid #fff;
    }
  }
}