#front {
  background: #233333;
  margin: 0;
  height: 100%;

  section {
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -160px;
    z-index: 10;
    width: 320px;
    text-align: center;
    color: #f2f3f4;

    a:link,
    a:visited {
      line-height: 1;
      background: rgba(255, 255, 255, 0.75);
    }

    p a {
      display: inline-block;
      padding: 1px 2px;
      margin: 0 0.5em 0.5em 0;
    }

    a.branding {
      background: none;

      .last-name {
        font-weight: bold;
      }

      .first-name {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }

  figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    margin: 0;

    img {
      display: inline-block;
      margin: 0;
      transition: 0.2s margin, 0.5s opacity;
      opacity: 0;
    }
  }

  figcaption {
    position: absolute;
    bottom: 2.5em;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  }
}

@media (min-aspect-ratio: 3/2) {
  .frontpage .bg img {
    width: 100%;
  }
}

@media(max-aspect-ratio: 3/2) {
  .frontpage .bg img {
    height: 100%;
  }
}
