html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #1E2733;
  font: 12px/1.5 Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', arial, sans-serif;
}

h1 {
  color: #f50;
  font-size: 80px;
  font-weight: 800;
  font-family: Georgia, Helvetica, Arial;
  text-shadow: rgba(0, 0, 0, 0.8) 0 0 3px;
}
#page {
  width: 800px;
  margin: 0 auto;
}
#doudou {
  float: left;
  width: 390px;
  padding: 4px;
  border: 1px solid #333;
}
#guide {
  color: #eee;
  float: left;
  width: 350px;
  padding: 0 20px;

  h2 {
    margin: 0 0 15px;
    font-size: 14px;
  }
  a:link, a:visited {
    color: #fff;
  }
  a:hover {
    color: #f50;
  }
  ul {
    margin: 0;
  }
}