html, body {
  height: 100%;
  font: 14px/1.5 normal Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}
h1, h2, h3, h4 {
  font-weight: 300;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}