html, body {
  height: 100%;
  font: 14px/1.5 normal Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif; }

h1, h2, h3, h4 {
  font-weight: 300; }

a:link {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

body {
  overflow: hidden;
  background: #21212B; }

.cover {
  width: 960px;
  height: 640px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -320px 0 0 -480px;
  color: #f0f0f0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  .cover a:link, .cover a:visited {
    color: #f0f0f0;
    text-decoration: none; }

#life {
  background: #efefef; }
  #life .cover {
    background: url(../img/flower.jpg) no-repeat; }
  #life .posts {
    width: 600px;
    margin: 100px auto 0;
    text-align: right; }
    #life .posts ul {
      float: right; }

#bin .cover {
  background: url(../img/tunnel.jpg) no-repeat; }
#bin .posts {
  text-align: right;
  padding: 190px 60px 0 0; }
  #bin .posts ul {
    float: right; }
