#aside {
  text-align: left;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
    }
  }

  a:hover {
    text-decoration: none;
  }

  .entry {
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 5px 10px;
    text-transform: uppercase;

    &:link, &:visited {
      text-decoration: none;
    }
  }

  .label {
    display: block;
    padding: 3px 10px;
  }

  .iconfont {
    margin-right: 5px;
  }

  .iconfont.binary:before {
    content: '\133';
  }

  .iconfont.life:before {
    content: '\f072';
  }

  .iconfont.f2e:before {
    content: '\231';
  }

  .iconfont.rails:before {
    content: '\234';
  }

  .iconfont.conf:before {
    content: '\103';
  }
}