@import "../../brix/mixin";

html {
  background: #efefef;
}

h1, h2, h3, h4 {
  font-weight: 300;
}
a:link {
  text-decoration: none;
  color: #0063DC;
}
a:hover {
  text-decoration: underline;
}

html, body {
  font: 14px/1.5 normal "Hiragino Sans GB", Tahoma, "Microsoft Yahei", Helvetica, Arial, sans-serif;
}

code, pre {
  font-family: Monaco, Consolas, monospace, serif;
  line-height: 1.4;
  font-size: 12px;
}

p {
  code {
    @include border-radius(2px);
    border: 1px solid #ddd;
    background: #eee;
    white-space: nowrap;
    padding: 0 3px;
  }
}

.article:after {
  content: "❦";
  display: block;
  text-align: center;
  font-size: 36px;
  color: #d14;
}

.article {
  margin-bottom: 40px;

  img {
    max-width: 100%;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }

  address {
    font-style: normal;
    font-family: Georgia, serif;
  }
}

#footer {
  margin: 40px 0 20px;
  height: 17px;
  line-height: 17px;

  .rss {
    float: right;
  }
}
