@import "../../brix/mixin";

html {
  background: #efefef;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/*
 * Shamelessly copied from https://github.com/lepture/yue.css/blob/master/yue.css
 */
.type h1,
.type h2,
.type h3,
.type h4,
.type h5,
.type h6 {
  color: #222223;
}
.type h1 {
  font-size: 1.8em;
  margin: 0.67em 0;
}
.type > h1 {
  margin-top: 0;
  font-size: 2em;
}
.type h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
.type h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
.type h4,
.type h5,
.type h6 {
  font-size: 1em;
  margin: 1.6em 0 1em 0;
}
.type h6 {
  font-weight: 500;
}

html, body {
  font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", serif;
  line-height: 1.5;
}

a:link {
  text-decoration: none;
  color: #0063DC;
}

a:hover {
  text-decoration: underline;
}

.type code,
.type pre {
  font-family: Monaco, Consolas, monospace, serif;
  line-height: 1.4;
  font-size: 14px;
}

p {
  code {
    @include border-radius(2px);
    border: 1px solid #ddd;
    background: #eee;
    white-space: nowrap;
    padding: 0 3px;
  }
}

.article:after {
  content: "❦";
  display: block;
  text-align: center;
  font-size: 36px;
  color: #d14;
}

.article {
  margin-bottom: 40px;
  font-size: 16px;

  img {
    max-width: 100%;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }

  address {
    font-style: normal;
    font-family: Georgia, serif;
  }
}

#footer {
  margin: 40px 0 20px;
  height: 17px;
  line-height: 17px;

  .rss {
    float: right;
  }
}
