.card {
  text-align: center;
  margin-top: 4em;

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    *display: inline;
    margin-right: 1em;
  }

  li:last-child {
    margin-right: 0;
  }
}
