.rss {
  display: inline-block;
  width: 13px;
  height: 13px;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  border: 2px solid;
  color: #fff;
  border-color: #0063DC;
  background: #0063DC;
  @include border-radius(3px);

  span {
    display: block;
    position: absolute;
  }
  .ring {
    background: #0063DC;
    border: 3px solid #fff;
  }
  .dot {
    width: 3px;
    height: 3px;
    left: 0;
    top: 10px;
    background: #fff;
    @include border-radius(1.5px)
  }
  .inside {
    width: 10px;
    height: 10px;
    left: -8px;
    top: 5px;
    @include border-radius(7px);
  }
  .outside {
    width: 20px;
    height: 20px;
    left: -13px;
    top: 0px;
    @include border-radius(12px);
  }
}