// for screen wider than 1024px

@media (min-width: 1024px) {
  body {
    text-align: center;
  }

  #page {
    margin: 42px auto 0;
    width: 690px;
    text-align: left;

    .stoc {
      position: fixed;
      _position: absolute;
      top: 50px;
      left: 50%;
      z-index: 1000;
      background: rgba(255, 255, 255, 0.7);
      margin-left: 375px;
      min-width: 180px;

      li a {
        height: auto;
      }
    }
  }

  #aside {
    width: 130px;
    margin-left: -(690px / 2 + 150px);
    position: fixed;
    _position: absolute;
    top: 102px;
    left: 50%;
    z-index: 1000;
  }
}
