@media only screen and (min-width: 1000px) {
  #page {
    width: 690px;
  }
  #aside {
    width: 130px;
    margin-left: -(690px / 2 + 150px);
  }
}

@media only screen and (max-width: 999px) {
  #aside {
    position: static;
    margin-left: auto;
    width: auto;
  }
}

@media only screen and (max-width: 799px) {
  #page {
    width: 580px;
  }
}

@media only screen and (min-width: 600px) {
  #aside {
    .category {
      height: 24px;
      display: block;
      position: relative;
      z-index: 100;

      .label {
        height: 24px;
        line-height: 24px;
        padding: 0 10px;
        display: block;

        &:hover {
          background: #fff;
          background: rgba(255, 255, 255, 0.9);
          text-decoration: none;
          color: #505050;
        }
      }
      .arrow {
        position: absolute;
        right: 10px;
        top: 7px;
        width: 0;
        height: 0;
        border-width: 4px 4px;
        border-style: solid;
        border-color: transparent;
        border-left-color: #666;
        font-size: 0;
        line-height: 0;
        -moz-transition: -moz-transform .2s ease-in;
          -o-transition:   -o-transform .2s ease-in;
             transition:      transform .2s ease-in;
      }
      .entries {
        position: absolute;
        left: 130px;
        top: 0;
        width: 280px;
        padding: 0 10px 5px;
        background: #fff;
        background: rgba(255, 255, 255, 0.9);
        height: auto;
        display: none;
        z-index: 1000;

        li {
          display: block;
          padding-top: 5px;
        }
      }
      &:hover {
        .entries {
          display: block;
        }
      }
    }
  }
  #front-body {
    overflow-x: hidden;
    overflow-y: auto;
    background: #21212B url(http://pic.yupoo.com/yicai-cyj_v/CAVrhMHa/b1Cd0.jpg) 0 0 no-repeat;

    h1 {
      font-size: 300%;
      font-weight: 400;
      line-height: 1;
      position: relative;

      .branding:link, .branding:visited {
        color: #fff;
      }
    }
    .board {
      margin-bottom: 20px;

      h3 {
        font-family: Chango, Helvetica, Arial, sans-serif;
        margin: 0;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 100%;
        color: #fff;
        padding: 2px 10px;
      }
      .content {
        background: #f0f0f0;
        background: rgba(255, 255, 255, 0.8);
        padding: 5px 10px;
        @include border-radius(2px);
      }
    }
    #aside {
      top: 120px;

      .blog .content {
        padding: 0;
        background: none;
        color: #fff;

        .arrow {
          border-left-color: #fff;
        }
      }
    }
    #dashboard {
      position: relative;
      color: #21212B;
    }
    #comments-board {
      position: relative;
      background: #fff;
    }
    #footer {
      color: #fff;

      a:link, a:visited {
        color: #fff;
      }
    }
  }
}