/*
 * Resets
 */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 24px;
}

html {
  background: #f5f5f5;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}


/*
 * based on https://github.com/lepture/yue.css/blob/master/yue.css
 */
.type {
  color: #222223;
}

.type h1,
.type h2,
.type h3,
.type h4,
.type h5,
.type h6 {
  color: #222223;
}

.type h1 {
  font-size: 1.8em;
  margin: 0.67em 0 0.32em;
}

.type > h1 {
  margin-top: 0;
  font-size: 2em;
}

.type h2 {
  font-size: 1.4em;
  margin: 0.83em 0 0.33em;
}

.type h3 {
  font-size: 1.17em;
  margin: 1em 0 0.5em;
}

.type h4,
.type h5,
.type h6 {
  font-size: 1em;
  margin: 1.6em 0 1em 0;
}

.type h6 {
  font-weight: 500;
}

a:link {
  text-decoration: none;
  color: #394B61;
  transition: 0.2s color;
}

.type code,
.type pre {
  font-family: Monaco, Consolas, monospace, serif;
  line-height: 1.5;
  font-size: 95%;
}

.type pre {
  padding: 0.5em 1em;
}

address {
  font-style: normal;
}

.type p code {
  border-radius: 2px;
  border: 1px solid #ddd;
  background: #eee;
  white-space: nowrap;
  padding: 0 3px;
  font-size: 90%;
}

article {
  address {
    display: block;
    margin-top: 1em;
  }

  img {
    max-width: 100%;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }

  img[src$=".gif"],
  img[src$=".png"],
  img[src$=".svg"] {
    box-shadow: none;
  }
}

.type table {
  font-size: 14px;
  display: table;
  table-layout: fixed;
  position: relative;
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
  word-break: keep-all;
  overflow: auto;
  white-space: normal;
}

.type table td,
.type table th {
  padding: 6px 8px;
  border: 1px solid #e8e8e8;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

.type table th {
  font-weight: 600;
  color: #222223;
}

.type table tr:nth-child(odd) {
  background-color: #fafafa;
}

.type blockquote {
  color: #8c8c8c;
  margin-top: 2em;
  margin-bottom: 2em;
}

/**
 * Branding
 */
.type .branding {
  &,
  &:hover {
    border-bottom: none;
  }
}

.branding {
  font-weight: 400;
  display: inline-block;
  font-weight: normal;

  &:link,
  &:visited {
    text-decoration: none;
  }

  .last-name {
    color: #DA4701;
  }
}


.hidden {
  display: none;
}


nav {
  text-align: left;

  label {
    display: block;
    padding: 3px 10px;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
    }
  }

  a:hover {
    text-decoration: none;
  }

  .entry {
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 5px 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;

    &:link, &:visited {
      text-decoration: none;
    }
  }

  .entry:last-child {
    border-bottom-color: transparent;
  }
}


#toc {
  text-align: left;
  padding: 1em;
  transition: top 0.5s, opacity 0.5s;

  label {
    margin-top: 0;
    font-size: 1em;
    user-select: none;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 0;
  }


  &.folded {
    ol {
      display: none;
    }
  }

  .heading.folded ol {
    display: none;
  }
}


#footer {
  margin: 2em auto 1em;
  text-align: center;
}
