/*
 * Resets
 */
body
  margin: 0

html
  background: #f0f0f0

h1, h2, h3, h4, h5, h6
  font-weight: 300

/*
 * Shamelessly copied from https://github.com/lepture/yue.css/blob/master/yue.css
 */
.type h1,
.type h2,
.type h3,
.type h4,
.type h5,
.type h6
  color: #222223

.type h1
  font-size: 1.8em
  margin: 0.67em 0 0.32em

.type > h1
  margin-top: 0
  font-size: 2em

.type h2
  font-size: 1.4em
  margin: 0.83em 0 0.33em

.type h3
  font-size: 1.17em
  margin: 1em 0 0.5em

.type h4,
.type h5,
.type h6
  font-size: 1em
  margin: 1.6em 0 1em 0

.type h6
  font-weight: 500

.type p
  color: #222


html, body
  -webkit-font-smoothing: antialiased
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif
  line-height: 1.5

a:link
  text-decoration: none
  color: #394B61

.type code,
.type pre
  font-family: Monaco, Consolas, monospace, serif
  line-height: 1.4
  font-size: 14px

address
  font-style: normal

p
  code
    border-radius: 2px
    border: 1px solid #ddd
    background: #eee
    white-space: nowrap
    padding: 0 3px

.article
  margin-bottom: 40px
  font-size: 16px

  img
    max-width: 100%
    border-radius: 2px
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3)

.article time
  font-size: 90%

.article:after
  content: '⚇'
  display: block
  font-size: 48px
  text-align: center
  margin: 24px 0
  color: #222223
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2)

#footer
  margin: 40px 0 20px
  height: 18px
  line-height: 18px

  .rss
    margin-left: 0.5em

  .cnzz
    float: right

