
.type .branding

  &, &:hover
    border-bottom: none

.branding
  text-transform: uppercase
  font-weight: 400
  display: inline-block
  overflow: hidden
  vertical-align: top
  font-weight: normal
  font-family: Chango, Helvetica, Arial, sans-serif
  transition: color .15s ease
  perspective: 400px
  perspective-origin: 50% 50%

  &:link, &:visited
    text-decoration: none

  .last-name
    color: #DA4701
    font-weight: 800

  .roll
    display: inline-block
    position: relative
    padding: 0 2px
    pointer-events: none
    transition: all 400ms ease
    transform-origin: 50% 0%
    transform-style: preserve-3d

  .roll:after
    content: attr(data-title)
    display: block
    position: absolute
    left: 0
    top: 0
    padding: 2px
    color: white
    background: #0063DC
    transform-origin: 50% 0%
    transform: translate3d(0px, 105%, 0px) rotateX(-90deg)

  .last-name:after
    background: #DA4701

  &:hover
    color: #71E9F4
    text-shadow: none
    border-bottom: none
    border-radius: 2px

    .roll
      background: rgba(0, 0, 0, 0.5)
      transform: translate3d(0px, -1px, -45px) rotateX(90deg)

