/*
 * Iconfont
 * http://icon-cn/showProject?pid=19307#
 */
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1457866059_262083.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1457866059_262083.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/font_1457866059_262083.woff') format('woff'), /* chrome、firefox */
       url('//at.alicdn.com/t/font_1457866059_262083.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
       url('//at.alicdn.com/t/font_1457866059_262083.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont';
  display: inline-block;
  font-size: 20px;
  font-style: normal;
}


.icon-nav:before {
  content: '\e60d';
}

.icon-home:before {
  content: '\e603';
}

.icon-binary:before {
  content: '\e604';
}

.icon-life:before {
  content: '\e601';
}

.icon-f2e:before {
  content: '\e608';
}

.icon-rails:before {
  content: '\e607';
}

.icon-conf:before {
  content: '\e605';
}

.icon-projects:before {
  content: '\e600';
}

.icon-webpages:before {
  content: '\e606';
}

.icon-about:before {
  content: '\e602';
}

.icon-archive:before {
  content: '\e609';
}

.icon-weibo:before {
  content: '\e60c';
}

.icon-github:before {
  content: '\e60a';
  font-size: 16px;
}

.icon-camera:before {
  content: '\e60e';
  font-size: 16px;
}

.icon-cab:before {
  content: '\e60b';
}