<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} &mdash; cyj.me</title>
  {% include stylesheets.html %}
</head>
<body id="post-body">
  <div id="page">
    <div class="article">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    <div id="aside">
      <div class="back-home">
        {% include branding.html %}
      </div>
      <div class="blog">
        {% include categories.html %}
      </div>
    </div>
    {% include disqus.html %}
    {% include footer.html %}
  </div>
  {% include ga.html %}
</body>
</html>