<!doctype html>
<html>
<head>
  {% include header.html %}
  {% if page.style %}
  <link rel="stylesheet" type="text/css" href="/assets/css/posts/{{ page.style }}.css">
  {% endif %}
</head>
<body id="post-body">
  <div id="page">
    <div class="back-home">
      {% include branding.html %}
    </div>
    <div class="article">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    {% include aside.html %}
    {% include duoshuo.html %}
    {% include footer.html %}
    {% if page.script %}
    <script src="/assets/js/posts/{{ page.script }}.js"></script>
    {% endif %}
  </div>
  {% include ga.html %}
</body>
</html>