<!doctype html>
<html>
<head>
  {% include header.html %}
  {% if page.style %}
  <link rel="stylesheet" type="text/css" href="/assets/css/posts/{{ page.style }}.css">
  {% endif %}
</head>
<body id="post-body" class="type" bx-app>
  <div id="page">
    <div id="content">
      <div class="content-wrap">
        <div class="article">
          <address>
            {% include branding.html %}
            <time datetime="{{ page.date }}">{{ page.date | date: "%y.%m.%d" }}</time>
          </address>
          <h1>{{ page.title }}</h1>
          {{ content }}
          {% include card.html %}
        </div>
        <div bx-name="mosaics/stoc" bx-config="{essay: '.article'}" bx-tpl="./default"></div>
        {% include duoshuo.html %}
        {% include footer.html %}
      </div>
    </div>
    {% include aside.html %}
    {% include scripts.html %}
    {% if page.script %}
    <script src="/assets/js/posts/{{ page.script }}.js"></script>
    {% endif %}
  </div>
</body>
</html>